body{
    background: linear-gradient(to right, #E0FFFF, #DCDCDC, #E0ffff);
}

.wrap{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: #008888;
}

.container{
    padding: 10px;
    margin: 5%;

}

h1{
    text-align: center;
    margin-bottom: 50px;
}

table{
    margin: 20px;
    padding-bottom: 5px;
}

table td{
    padding: 5px;
}

button{
    width: 50px;
    font-family: comix sans ms;
    height: 30px;
    width: 70px;
    background-color: #00ffff;
    border-radius: 7px;
    margin-left: 10px;
    margin: 30px;
}